 <head>
        <title>Harmonic/Error</title>
        <link rel="shortcut icon" href="https://controlstation.com/wp-content/uploads/2018/05/papers-outlines-stack.png" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>

<h1>Error</h1>
<strong><hr></strong>
<strong><hr></strong>
<h2>Page not found <i class="fas fa-exclamation-triangle"></i></h2>
<h3>Page not found <i class="fas fa-exclamation-triangle"></i></h3>
<h4>Page not found <i class="fas fa-exclamation-triangle"></i></h4>
<h5>Page not found <i class="fas fa-exclamation-triangle"></i></h5>
<h6>Page not found <i class="fas fa-exclamation-triangle"></i></h6>

<a href="/content"><button type="button" class="btn btn-warning btn-lg">GO BACK</button></a>

<style type="text/css">
hr{
    color:red;
}
    
</style>

<script type="text/javascript">
    var x = document.querySelector("Body");
var y = false;

setInterval(function(){
if(y){
	x.style.background = "white";
}
else{
	x.style.background = "rgb(52, 152, 219)";
}
y = !y;

},500);

    
</script>