<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/two.css">

<nav class="navbar navbar-expand-xl navbar-dark" style="background-color: #0f9b4c;">
        <a class="navbar-brand" href="#"><i class="fab fa-stack-overflow"></i> Harmonic Software Stack</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
        <span class="navbar-toggler-icon"></span>
        
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item px-3">
                <a class="nav-link" href="/content">Articles <i class="fas fa-align-left"></i></a>            
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/content/new">Add content <i class="fas fa-plus-square"></i></a> 
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/logout">Log out <i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center">
<a href="/error"><button style="position: relative; top:50%;margin: 0 auto;" type="button" class="btn btn-danger btn-lg">BREAK?</button></a>
</div>
<!-- *** -->

<% include partials/footer %>