<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/two.css">
 

    <div class="container">
      <h4 class="logo" id="green-rectangle"><i class="fab fa-stack-overflow"></i> Harmonic Software Stack</h4>

      <nav>
        <ul>
          
          <li><a href="/content/new">Add content <i class="fas fa-plus-circle"></i></a></li>
          <li><a href="/explore">Explore <i class="fas fa-search"></i></a></li>
          <li><a href="/logout">Log out <i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
      </nav>
    </div>
  
  <h3>Articles <i class="fas fa-align-left"></i></h3>
  
 <div class="container-1"> 
  <% contents.reverse().forEach(function(cont){ %>
          
          <div class="box-1">
          <p><%= cont.title %></p>
          <p style="white-space: pre-wrap;"><%= cont.content%></p>
          </div> 
          <p style="align: center;">_____________________________________________________</p>
  <% }); %>
  
  
  
  </div>
  
  
  
  
  
  <!-- a9-->
  
<% include partials/footer %>

